:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --priority-font-family: "Playfair Display", serif;
  --style-font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 96px;
  font-family: var(--priority-font-family);
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  color: #272142;
  font-family: var(--style-font-family);
}
p {
  font-size: 18px;
  text-align: center;
  color: #272142;
}
.about-style-descriptions h1 {
  font-size: 64px;
  font-family: var(--priority-font-family);
  font-weight: bold;
  color: black;
}
.about-style-descriptions h3 {
  font-size: 18px;
  font-family: var(--style-font-family);
  font-weight: normal;
}
.about-style-descriptions p {
  line-height: 30px;
  color: #272142;
  font-size: 16px;
  font-family: var(--style-font-family);
}
.about-style {
  margin: 100px 30px;
}
.wrap {
  padding: 160px 30px;
  text-align: center;
  background: var(--primary-color);
}
.wrap p {
  font-size: 24px;
  margin: 0;
  font-family: var(--priority-font-family);
  font-weight: bold;
  line-height: 2;
}

.btn-contact {
  font-size: 18px;
  padding: 18px 46px;
  background: var(--secondary-color);
  color: #ffff;
  text-decoration: none;
  border-radius: 4px;
}
.btn-contact:hover {
  background: var(--secondary-color);
  color: #272142;
}
.descriptions {
  color: #272142;
  font-size: 16px;
  font-family: var(--style-font-family);
  text-align: justify;
  color: #6c757d;
  line-height: 30px;
}
.container h2 {
  font-size: 64px;
}
.strong {
  padding: 120px 30px;
}
