body {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding-bottom: 45px;
}
:root {
  --primary-color: #e1dfde;
  --secondary-color: #1b1b1b;
  --priority-font-family: "DM Serif Text", serif;
  --style-font-family: "Quicksand", sans-seri;
}

h1 {
  font-size: 60px;
  font-family: var(--priority-font-family);
  font-weight: bold;

  margin-top: 20px;
}
h2 {
  font-size: 36px;
  color: black;

  font-weight: 300;
}
h3 {
  font-size: 20px;
  font-family: var(--style-font-family);
}
h4 {
  font-size: 48px;
  font-family: var(--priority-font-family);
}
.title {
  font-weight: bold;
  font-size: 16px;
}
p {
  font-size: 25px;
  color: #272142;
  font-family: var(--style-font-family);
  opacity: 0.7;
}
nav {
  padding: 20px 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 30px;
  color: #272142;
  font-size: 16px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover {
  color: #e35454;
}
nav ul {
  padding: 0;
}

.content-descriptions h1 {
  font-size: 64px;
  font-family: var(--priority-font-family);
  font-weight: bold;
  color: black;
}
.content-descriptions h3 {
  font-size: 18px;
  font-family: var(--style-font-family);
  font-weight: normal;
}
.content-descriptions p {
  line-height: 30px;
  color: #272142;
  font-size: 16px;
  font-family: var(--style-font-family);
}
.content {
  margin: 100px 30px;
}
.data-name {
  font-size: 25px;
  color: #1b1b1b;

  font-weight: 200;
}
.data-name:hover {
  color: #e35454;
}
.content h2 {
  font-family: var(--priority-font-family);
}

.hero {
  background: var(--primary-color);
  text-transform: uppercase;
  padding: 80px 20px;
  text-align: center;
}
.hero p {
  font-size: 24px;
  line-height: 2;
}
.btn-submit {
  border: 1px solid #1b1b1b;
  padding: 10px 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
}
.btn-submit:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.img-project {
  padding: 20px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
}
.btn-contact {
  background: var(--secondary-color);
  border-radius: 35px;
  color: #ffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--secondary-color);
  margin: 20px;
}

.btn-contact:hover {
  border: 1px solid var(--secondary-color);
}
.open-sourced-link {
  text-decoration: none;
}
.open-sourced-link:hover {
  color: #e35454;
}
form {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
}
.descriptions {
  font-size: 20px;
  font-family: var(--style-font-family);

  color: #6c757d;
  line-height: 30px;
}
.container h2 {
  font-size: 57px;
  margin-bottom: 40px !important;
}
.data-photo {
  border-radius: 30px;
}
.img-position {
  padding: 112px 30px;
  margin-bottom: 17px;
}
.content p {
  font-size: 14px;
  text-align: start;
}
.strong {
  padding: 30px;
}

nav {
  margin-bottom: 30px;
}

footer .contact-follow {
  background: rgb(246, 243, 243);
  padding: 30px 100px;
  border-radius: 10px;
  margin: 50px 0;
}
footer .contact-follow p {
  margin: 0;
  text-align: start;
}

footer .email-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 24px;
}
footer .email-link:hover {
  color: #e35454;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 9px 16px;
  border-radius: 50%;
  font-size: 25px;
}
footer .social-links a:hover {
  color: #ffff;
  background: var(--secondary-color);
}
footer.about {
  margin-top: 50px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }
  h4 {
    font-size: 24px;
  }

  .content-descriptions {
    text-align: center;
    padding: 0;
  }

  .strong {
    padding: 10px;
    text-align: center;
  }
  .logo {
    font-size: 20px;
  }
}
